<%= form_for current_user.relationships.find_by_followed_id(@user),
             :html => { :method => :delete } do |f| %>
  <div class="actions"><%= f.submit "Unfollow" %></div>
<% end %>
<input id="relationship_followed_id" name="relationship[followed_id]"
type="hidden" value="3" />